        #header .rb-header .rbLogo img {
            max-height: 100px;
        }

        .d-lg-flex{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-center{
            text-align: center!important;
        }
        .border{
            border:1px solid #ddd;
        }

        .mt-5 {
            margin-top: 50px;
        }
        @media (max-width: 1080px) {
            #header .rb-header .rbLogo img {
                max-height: 50px;
            }   
        }
        .footer-container .logo {
            max-height: 100px;
        }

        body::-webkit-scrollbar {
            width: 10px;
        }

        body::-webkit-scrollbar-track {
            background: transparent;
            border: none;
        }

        body::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 50px;
        }

        #module-rbthemedream-live #wrapper .breadcrumb{
            display: block;
        }

        .header-mobile{
            padding: 0;
        }

        .footer-v1 .footer-bottom{
            background: #ffffff;
        }

        .footer-container .logo {
            max-height: 57px;
        }

        .box {
            -moz-box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
            -webkit-box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
            -o-box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
            -ms-box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
            box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
            background: #fff;
            padding: 30px;
            margin-bottom: 16px;
        }

        .done{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            line-height: 36px;
            text-align: center;
            padding: 0;
        }
        .has-discount .discount{
            z-index: 0;
        }

        .rb-tag .rb-items {
            border: 1px solid #ddd;
            padding: 2px 6px;
            margin-right: 10px;
        }

        .rb-tag .rb-items a {
            color: grey;
            font-size: 1em;
            width: 100%;
            height: 40px;
            line-height: 40px;
        }

        .btn-group-sm>.btn, .btn-sm, .btn-group-sm>.btn {
            padding: 10px;
            margin-left: 10px;
        }

        .btn-block+.btn-block {
            margin-top: 0;
        }

        #blockcart-modal .cart-content-btn{
            display: flex;
        }
        
        #blockcart-content .cart-products .cart-product-line .remove-cart {
            width:  70px;
        }

        .stripe-button-el{
            width: 100%;
            padding: 10px;
            background: none;
        }

        .stripe-button-el span{
            display: block;
            min-height: 40px;
            width: 100%;
            line-height: 40px;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: #212121;
        }

       
        .rb_megamenu .rb_menus_li h4,
        .rb_megamenu .rb_menus_li h5,
        .rb_megamenu .rb_menus_li h6,
        .rb_megamenu .rb_menus_li h1,
        .rb_megamenu .rb_menus_li h2,
        .rb_megamenu .rb_menus_li h3,
        .rb_megamenu .rb_menus_li h4 *:not(i),
        .rb_megamenu .rb_menus_li h5 *:not(i),
        .rb_megamenu .rb_menus_li h6 *:not(i),
        .rb_megamenu .rb_menus_li h1 *:not(i),
        .rb_megamenu .rb_menus_li h2 *:not(i),
        .rb_megamenu .rb_menus_li h3 *:not(i),
        .rb_megamenu .rb_menus_li>a {
            font-family: inherit;
        }

        .rb_megamenu *:not(.fa):not(i) {
            font-family: inherit;
        }

        .rb_block * {
            font-size: 14px;
        }
       
        #rb-product-cart .container{
            justify-content: space-evenly;
            max-width: 100vw;
            width: 100%;
            left: 0;
            position: absolute;
        }
        @media (min-width: 768px) {

            /*layout 1*/
            /* .rb_megamenu.layout_layout1 {
                background: ;
            } */

            .layout_layout1 .rb_megamenu_content {
                background: linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: -webkit-linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: -o-linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
            }

            /* .rb_megamenu.layout_layout1:not(.ybc_vertical_menu) .rb_menus_ul {
                background: ;
            } */

            #header .layout_layout1:not(.ybc_vertical_menu) .rb_menus_li>a,
            .layout_layout1 .ybc-menu-vertical-button,
            .layout_layout1 .rb_extra_item * {
                color: #484848
            }

            .layout_layout1 .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #484848
            }

            .layout_layout1 .rb_menus_li:hover>a,
            .layout_layout1 .rb_menus_li.active>a,
            #header .layout_layout1 .rb_menus_li:hover>a,
            .layout_layout1:hover .ybc-menu-vertical-button,
            .layout_layout1 .rb_extra_item button[type="submit"]:hover i,
            #header .layout_layout1 .rb_menus_li.active>a {
                color: #ec4249;
            }

            .layout_layout1:not(.ybc_vertical_menu) .rb_menus_li>a:before,
            .layout_layout1.ybc_vertical_menu:hover .ybc-menu-vertical-button:before,
            .layout_layout1:hover .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar,
            .ybc-menu-vertical-button.layout_layout1:hover {
                background-color: #ec4249;
            }

            .layout_layout1:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .rb_megamenu.layout_layout1.ybc_vertical_menu:hover,
            #header .layout_layout1:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .rb_megamenu.layout_layout1.ybc_vertical_menu:hover {
                background: #ffffff;
            }

            .layout_layout1.rb_megamenu .rb_columns_ul,
            .layout_layout1.ybc_vertical_menu .rb_menus_ul {
                background-color: #ffffff;
            }

            #header .layout_layout1 .rb_block_content a,
            #header .layout_layout1 .rb_block_content p,
            .layout_layout1.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout1.ybc_vertical_menu .rb_menus_li>a {
                color: #414141;
            }

            .layout_layout1 .rb_columns_ul h1,
            .layout_layout1 .rb_columns_ul h2,
            .layout_layout1 .rb_columns_ul h3,
            .layout_layout1 .rb_columns_ul h4,
            .layout_layout1 .rb_columns_ul h5,
            .layout_layout1 .rb_columns_ul h6,
            .layout_layout1 .rb_columns_ul .rb_block>h1 a,
            .layout_layout1 .rb_columns_ul .rb_block>h2 a,
            .layout_layout1 .rb_columns_ul .rb_block>h3 a,
            .layout_layout1 .rb_columns_ul .rb_block>h4 a,
            .layout_layout1 .rb_columns_ul .rb_block>h5 a,
            .layout_layout1 .rb_columns_ul .rb_block>h6 a,
            #header .layout_layout1 .rb_columns_ul .rb_block>h1 a,
            #header .layout_layout1 .rb_columns_ul .rb_block>h2 a,
            #header .layout_layout1 .rb_columns_ul .rb_block>h3 a,
            #header .layout_layout1 .rb_columns_ul .rb_block>h4 a,
            #header .layout_layout1 .rb_columns_ul .rb_block>h5 a,
            #header .layout_layout1 .rb_columns_ul .rb_block>h6 a,
            .layout_layout1 .rb_columns_ul .h1,
            .layout_layout1 .rb_columns_ul .h2,
            .layout_layout1 .rb_columns_ul .h3,
            .layout_layout1 .rb_columns_ul .h4,
            .layout_layout1 .rb_columns_ul .h5,
            .layout_layout1 .rb_columns_ul .h6 {
                color: #414141;
            }


            .layout_layout1 li:hover>a,
            .layout_layout1 li>a:hover,
            .layout_layout1 .rb_tabs_li.open .rb_tab_toggle_title,
            .layout_layout1 .rb_tabs_li.open .rb_tab_toggle_title a,
            .layout_layout1 .rb_tabs_li:hover .rb_tab_toggle_title,
            .layout_layout1 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout1 .rb_tabs_li.open .rb_tab_toggle_title,
            #header .layout_layout1 .rb_tabs_li.open .rb_tab_toggle_title a,
            #header .layout_layout1 .rb_tabs_li:hover .rb_tab_toggle_title,
            #header .layout_layout1 .rb_tabs_li:hover .rb_tab_toggle_title a,
            .layout_layout1.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout1 li:hover>a,
            .layout_layout1.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout1.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout1 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout1 li>a:hover {
                color: #ec4249;
            }


            /*end layout 1*/


            /*layout 2*/
            .rb_megamenu.layout_layout2 {
                background-color: #3cabdb;
            }

            #header .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li>a,
            .layout_layout2 .ybc-menu-vertical-button,
            .layout_layout2 .rb_extra_item * {
                color: #ffffff
            }

            .layout_layout2 .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #ffffff
            }

            .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li.active>a,
            #header .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .layout_layout2:hover .ybc-menu-vertical-button,
            .layout_layout2 .rb_extra_item button[type="submit"]:hover i,
            #header .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li.active>a {
                color: #ffffff;
            }

            .layout_layout2:hover .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #ffffff;
            }

            .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            #header .layout_layout2:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .rb_megamenu.layout_layout2.ybc_vertical_menu:hover {
                background-color: #50b4df;
            }

            .layout_layout2.rb_megamenu .rb_columns_ul,
            .layout_layout2.ybc_vertical_menu .rb_menus_ul {
                background-color: #ffffff;
            }

            #header .layout_layout2 .rb_block_content a,
            .layout_layout2.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout2.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout2 .rb_block_content p {
                color: #666666;
            }

            .layout_layout2 .rb_columns_ul h1,
            .layout_layout2 .rb_columns_ul h2,
            .layout_layout2 .rb_columns_ul h3,
            .layout_layout2 .rb_columns_ul h4,
            .layout_layout2 .rb_columns_ul h5,
            .layout_layout2 .rb_columns_ul h6,
            .layout_layout2 .rb_columns_ul .rb_block>h1 a,
            .layout_layout2 .rb_columns_ul .rb_block>h2 a,
            .layout_layout2 .rb_columns_ul .rb_block>h3 a,
            .layout_layout2 .rb_columns_ul .rb_block>h4 a,
            .layout_layout2 .rb_columns_ul .rb_block>h5 a,
            .layout_layout2 .rb_columns_ul .rb_block>h6 a,
            #header .layout_layout2 .rb_columns_ul .rb_block>h1 a,
            #header .layout_layout2 .rb_columns_ul .rb_block>h2 a,
            #header .layout_layout2 .rb_columns_ul .rb_block>h3 a,
            #header .layout_layout2 .rb_columns_ul .rb_block>h4 a,
            #header .layout_layout2 .rb_columns_ul .rb_block>h5 a,
            #header .layout_layout2 .rb_columns_ul .rb_block>h6 a,
            .layout_layout2 .rb_columns_ul .h1,
            .layout_layout2 .rb_columns_ul .h2,
            .layout_layout2 .rb_columns_ul .h3,
            .layout_layout2 .rb_columns_ul .h4,
            .layout_layout2 .rb_columns_ul .h5,
            .layout_layout2 .rb_columns_ul .h6 {
                color: #414141;
            }


            .layout_layout2 li:hover>a,
            .layout_layout2 li>a:hover,
            .layout_layout2 .rb_tabs_li.open .rb_tab_toggle_title,
            .layout_layout2 .rb_tabs_li.open .rb_tab_toggle_title a,
            .layout_layout2 .rb_tabs_li:hover .rb_tab_toggle_title,
            .layout_layout2 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout2 .rb_tabs_li.open .rb_tab_toggle_title,
            #header .layout_layout2 .rb_tabs_li.open .rb_tab_toggle_title a,
            #header .layout_layout2 .rb_tabs_li:hover .rb_tab_toggle_title,
            #header .layout_layout2 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout2 li:hover>a,
            .layout_layout2.ybc_vertical_menu .rb_menus_li>a,
            .layout_layout2.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout2.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout2 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout2 li>a:hover {
                color: #fc4444;
            }



            /*layout 3*/
            .rb_megamenu.layout_layout3,
            .layout_layout3 .rb_tab_li_content {
                background-color: #333333;

            }

            #header .layout_layout3:not(.ybc_vertical_menu) .rb_menus_li>a,
            .layout_layout3 .ybc-menu-vertical-button,
            .layout_layout3 .rb_extra_item * {
                color: #ffffff
            }

            .layout_layout3 .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #ffffff
            }

            .layout_layout3 .rb_menus_li:hover>a,
            .layout_layout3 .rb_menus_li.active>a,
            .layout_layout3 .rb_extra_item button[type="submit"]:hover i,
            #header .layout_layout3 .rb_menus_li:hover>a,
            #header .layout_layout3 .rb_menus_li.active>a,
            .layout_layout3:hover .ybc-menu-vertical-button,
            .layout_layout3:hover .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                color: #ffffff;
            }

            .layout_layout3:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            #header .layout_layout3:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .rb_megamenu.layout_layout3.ybc_vertical_menu:hover,
            .layout_layout3 .rb_tabs_li.open .rb_columns_contents_ul,
            .layout_layout3 .rb_tabs_li.open .rb_tab_li_content {
                background-color: #000000;
            }

            .layout_layout3 .rb_tabs_li.open.rb_tabs_has_content .rb_tab_li_content .rb_tab_name::before {
                border-right-color: #000000;
            }

            .layout_layout3.rb_megamenu .rb_columns_ul,
            .ybc_vertical_menu.layout_layout3 .rb_menus_ul.rb_mn_submenu_full_height .rb_menus_li:hover a::before,
            .layout_layout3.ybc_vertical_menu .rb_menus_ul {
                background-color: #000000;
                border-color: #000000;
            }

            #header .layout_layout3 .rb_block_content a,
            #header .layout_layout3 .rb_block_content p,
            .layout_layout3.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout3.ybc_vertical_menu .rb_menus_li>a {
                color: #dcdcdc;
            }

            .layout_layout3 .rb_columns_ul h1,
            .layout_layout3 .rb_columns_ul h2,
            .layout_layout3 .rb_columns_ul h3,
            .layout_layout3 .rb_columns_ul h4,
            .layout_layout3 .rb_columns_ul h5,
            .layout_layout3 .rb_columns_ul h6,
            .layout_layout3 .rb_columns_ul .rb_block>h1 a,
            .layout_layout3 .rb_columns_ul .rb_block>h2 a,
            .layout_layout3 .rb_columns_ul .rb_block>h3 a,
            .layout_layout3 .rb_columns_ul .rb_block>h4 a,
            .layout_layout3 .rb_columns_ul .rb_block>h5 a,
            .layout_layout3 .rb_columns_ul .rb_block>h6 a,
            #header .layout_layout3 .rb_columns_ul .rb_block>h1 a,
            #header .layout_layout3 .rb_columns_ul .rb_block>h2 a,
            #header .layout_layout3 .rb_columns_ul .rb_block>h3 a,
            #header .layout_layout3 .rb_columns_ul .rb_block>h4 a,
            #header .layout_layout3 .rb_columns_ul .rb_block>h5 a,
            #header .layout_layout3 .rb_columns_ul .rb_block>h6 a,
            .layout_layout3 .rb_columns_ul .h1,
            .layout_layout3 .rb_columns_ul .h2,
            .layout_layout3 .rb_columns_ul .h3,
            .layout_layout3.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout3.ybc_vertical_menu .rb_menus_li:hover>a,
            .layout_layout3 .rb_columns_ul .h4,
            .layout_layout3 .rb_columns_ul .h5,
            .layout_layout3 .rb_columns_ul .h6 {
                color: #ec4249;
            }


            .layout_layout3 li:hover>a,
            .layout_layout3 li>a:hover,
            .layout_layout3 .rb_tabs_li.open .rb_tab_toggle_title,
            .layout_layout3 .rb_tabs_li.open .rb_tab_toggle_title a,
            .layout_layout3 .rb_tabs_li:hover .rb_tab_toggle_title,
            .layout_layout3 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout3 .rb_tabs_li.open .rb_tab_toggle_title,
            #header .layout_layout3 .rb_tabs_li.open .rb_tab_toggle_title a,
            #header .layout_layout3 .rb_tabs_li:hover .rb_tab_toggle_title,
            #header .layout_layout3 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout3 li:hover>a,
            #header .layout_layout3 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout3 li>a:hover,
            .layout_layout3.ybc_vertical_menu .rb_menus_li>a,
            .layout_layout3 .has-sub .rb_categories li>a:hover,
            #header .layout_layout3 .has-sub .rb_categories li>a:hover {
                color: #fc4444;
            }


            /*layout 4*/

            .rb_megamenu.layout_layout4 {
                background-color: #ffffff;
            }

            .rb_megamenu.layout_layout4:not(.ybc_vertical_menu) .rb_menus_ul {
                background: #ffffff;
            }

            #header .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li>a,
            .layout_layout4 .ybc-menu-vertical-button,
            .layout_layout4 .rb_extra_item * {
                color: #333333
            }

            .layout_layout4 .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #333333
            }

            .layout_layout4 .rb_menus_li:hover>a,
            .layout_layout4 .rb_menus_li.active>a,
            #header .layout_layout4 .rb_menus_li:hover>a,
            .layout_layout4:hover .ybc-menu-vertical-button,
            #header .layout_layout4 .rb_menus_li.active>a {
                color: #ffffff;
            }

            .layout_layout4:hover .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #ffffff;
            }

            .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li.active>a,
            .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li:hover>span,
            .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li.active>span,
            #header .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            #header .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li.active>a,
            .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            #header .layout_layout4:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .rb_megamenu.layout_layout4.ybc_vertical_menu:hover,
            #header .layout_layout4 .rb_menus_li:hover>span,
            #header .layout_layout4 .rb_menus_li.active>span {
                background-color: #ec4249;
            }

            .layout_layout4 .rb_megamenu_content {
                border-bottom-color: #ec4249;
            }

            .layout_layout4.rb_megamenu .rb_columns_ul,
            .ybc_vertical_menu.layout_layout4 .rb_menus_ul .rb_menus_li:hover a::before,
            .layout_layout4.ybc_vertical_menu .rb_menus_ul {
                background-color: #ffffff;
            }

            #header .layout_layout4 .rb_block_content a,
            .layout_layout4.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout4.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout4 .rb_block_content p {
                color: #666666;
            }

            .layout_layout4 .rb_columns_ul h1,
            .layout_layout4 .rb_columns_ul h2,
            .layout_layout4 .rb_columns_ul h3,
            .layout_layout4 .rb_columns_ul h4,
            .layout_layout4 .rb_columns_ul h5,
            .layout_layout4 .rb_columns_ul h6,
            .layout_layout4 .rb_columns_ul .rb_block>h1 a,
            .layout_layout4 .rb_columns_ul .rb_block>h2 a,
            .layout_layout4 .rb_columns_ul .rb_block>h3 a,
            .layout_layout4 .rb_columns_ul .rb_block>h4 a,
            .layout_layout4 .rb_columns_ul .rb_block>h5 a,
            .layout_layout4 .rb_columns_ul .rb_block>h6 a,
            #header .layout_layout4 .rb_columns_ul .rb_block>h1 a,
            #header .layout_layout4 .rb_columns_ul .rb_block>h2 a,
            #header .layout_layout4 .rb_columns_ul .rb_block>h3 a,
            #header .layout_layout4 .rb_columns_ul .rb_block>h4 a,
            #header .layout_layout4 .rb_columns_ul .rb_block>h5 a,
            #header .layout_layout4 .rb_columns_ul .rb_block>h6 a,
            .layout_layout4 .rb_columns_ul .h1,
            .layout_layout4 .rb_columns_ul .h2,
            .layout_layout4 .rb_columns_ul .h3,
            .layout_layout4 .rb_columns_ul .h4,
            .layout_layout4 .rb_columns_ul .h5,
            .layout_layout4 .rb_columns_ul .h6 {
                color: #414141;
            }

            .layout_layout4 li:hover>a,
            .layout_layout4 li>a:hover,
            .layout_layout4 .rb_tabs_li.open .rb_tab_toggle_title,
            .layout_layout4 .rb_tabs_li.open .rb_tab_toggle_title a,
            .layout_layout4 .rb_tabs_li:hover .rb_tab_toggle_title,
            .layout_layout4 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout4 .rb_tabs_li.open .rb_tab_toggle_title,
            #header .layout_layout4 .rb_tabs_li.open .rb_tab_toggle_title a,
            #header .layout_layout4 .rb_tabs_li:hover .rb_tab_toggle_title,
            #header .layout_layout4 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout4 li:hover>a,
            .layout_layout4.ybc_vertical_menu .rb_menus_li>a,
            .layout_layout4.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout4.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout4 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout4 li>a:hover {
                color: #ec4249;
            }

            /* end layout 4*/




            /* Layout 5*/
            .rb_megamenu.layout_layout5 {
                background-color: #f6f6f6;
            }

            .rb_megamenu.layout_layout5:not(.ybc_vertical_menu) .rb_menus_ul {
                background: #f6f6f6;
            }

            #header .layout_layout5:not(.ybc_vertical_menu) .rb_menus_li>a,
            .layout_layout5 .ybc-menu-vertical-button,
            .layout_layout5 .rb_extra_item * {
                color: #333333
            }

            .layout_layout5 .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #333333
            }

            .layout_layout5 .rb_menus_li:hover>a,
            .layout_layout5 .rb_menus_li.active>a,
            .layout_layout5 .rb_extra_item button[type="submit"]:hover i,
            #header .layout_layout5 .rb_menus_li:hover>a,
            #header .layout_layout5 .rb_menus_li.active>a,
            .layout_layout5:hover .ybc-menu-vertical-button {
                color: #ec4249;
            }

            .layout_layout5:hover .ybc-menu-vertical-button .ybc-menu-button-toggle_icon_default .icon-bar {
                background-color: #ec4249;
            }

            .layout_layout5 .rb_menus_li>a:before {
                background-color: #ec4249;
            }


            .layout_layout5:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            #header .layout_layout5:not(.ybc_vertical_menu) .rb_menus_li:hover>a,
            .rb_megamenu.layout_layout5.ybc_vertical_menu:hover,
            #header .layout_layout5 .rb_menus_li:hover>a {
                /* background-color: ; */
            }

            .layout_layout5.rb_megamenu .rb_columns_ul,
            .ybc_vertical_menu.layout_layout5 .rb_menus_ul .rb_menus_li:hover a::before,
            .layout_layout5.ybc_vertical_menu .rb_menus_ul {
                background-color: #ffffff;
            }

            #header .layout_layout5 .rb_block_content a,
            .layout_layout5.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout5.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout5 .rb_block_content p {
                color: #333333;
            }

            .layout_layout5 .rb_columns_ul h1,
            .layout_layout5 .rb_columns_ul h2,
            .layout_layout5 .rb_columns_ul h3,
            .layout_layout5 .rb_columns_ul h4,
            .layout_layout5 .rb_columns_ul h5,
            .layout_layout5 .rb_columns_ul h6,
            .layout_layout5 .rb_columns_ul .rb_block>h1 a,
            .layout_layout5 .rb_columns_ul .rb_block>h2 a,
            .layout_layout5 .rb_columns_ul .rb_block>h3 a,
            .layout_layout5 .rb_columns_ul .rb_block>h4 a,
            .layout_layout5 .rb_columns_ul .rb_block>h5 a,
            .layout_layout5 .rb_columns_ul .rb_block>h6 a,
            #header .layout_layout5 .rb_columns_ul .rb_block>h1 a,
            #header .layout_layout5 .rb_columns_ul .rb_block>h2 a,
            #header .layout_layout5 .rb_columns_ul .rb_block>h3 a,
            #header .layout_layout5 .rb_columns_ul .rb_block>h4 a,
            #header .layout_layout5 .rb_columns_ul .rb_block>h5 a,
            #header .layout_layout5 .rb_columns_ul .rb_block>h6 a,
            .layout_layout5 .rb_columns_ul .h1,
            .layout_layout5 .rb_columns_ul .h2,
            .layout_layout5 .rb_columns_ul .h3,
            .layout_layout5 .rb_columns_ul .h4,
            .layout_layout5 .rb_columns_ul .h5,
            .layout_layout5 .rb_columns_ul .h6 {
                color: #414141;
            }

            .layout_layout5 li:hover>a,
            .layout_layout5 li>a:hover,
            .layout_layout5 .rb_tabs_li.open .rb_tab_toggle_title,
            .layout_layout5 .rb_tabs_li.open .rb_tab_toggle_title a,
            .layout_layout5 .rb_tabs_li:hover .rb_tab_toggle_title,
            .layout_layout5 .rb_tabs_li:hover .rb_tab_toggle_title a,
            #header .layout_layout5 .rb_tabs_li.open .rb_tab_toggle_title,
            #header .layout_layout5 .rb_tabs_li.open .rb_tab_toggle_title a,
            #header .layout_layout5 .rb_tabs_li:hover .rb_tab_toggle_title,
            #header .layout_layout5 .rb_tabs_li:hover .rb_tab_toggle_title a,
            .layout_layout5.ybc_vertical_menu .rb_menus_li>a,
            #header .layout_layout5 li:hover>a,
            .layout_layout5.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout5.ybc_vertical_menu .rb_menus_li:hover>a,
            #header .layout_layout5 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout5 li>a:hover {
                color: #ec4249;
            }

            /*end layout 5*/
        }


        @media (max-width: 767px) {
            p,a,span,div,h2,h3,h4,h5,h6,strong{
                font-size: 14px!important;
            }
            h1{
                font-size: 1.5rem;
            }
            .d-lg-flex{
                display: block;
            }
            .pl-sm-1{
                padding-left: 2px!important;
            }
            .pr-sm-1 {
                padding-right: 2px!important;
            }
            .ybc-menu-vertical-button,
            .transition_floating .close_menu,
            .transition_full .close_menu {
                background-color: #000000;
                color: #ffffff;
            }

            .transition_floating .close_menu *,
            .transition_full .close_menu *,
            .ybc-menu-vertical-button .icon-bar {
                color: #ffffff;
            }

            .close_menu .icon-bar,
            .ybc-menu-vertical-button .icon-bar {
                background-color: #ffffff;
            }

            .rb_menus_back_icon {
                border-color: #ffffff;
            }

            .layout_layout1 .rb_menus_li:hover>a,
            #header .layout_layout1 .rb_menus_li:hover>a {
                color: #ec4249;
            }

            .layout_layout1 .rb_has_sub.rb_menus_li:hover .arrow::before {
                /*border-color: #ec4249;*/
            }


            .layout_layout1 .rb_menus_li:hover>a,
            #header .layout_layout1 .rb_menus_li:hover>a {
                background-color: #ffffff;
            }

            .layout_layout1 li:hover>a,
            .layout_layout1 li>a:hover,
            #header .layout_layout1 li:hover>a,
            #header .layout_layout1 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout1 li>a:hover {
                color: #ec4249;
            }

            /*------------------------------------------------------*/


            .layout_layout2 .rb_menus_li:hover>a,
            #header .layout_layout2 .rb_menus_li:hover>a {
                color: #ffffff;
            }

            .layout_layout2 .rb_has_sub.rb_menus_li:hover .arrow::before {
                border-color: #ffffff;
            }

            .layout_layout2 .rb_menus_li:hover>a,
            #header .layout_layout2 .rb_menus_li:hover>a {
                background-color: #50b4df;
            }

            .layout_layout2 li:hover>a,
            .layout_layout2 li>a:hover,
            #header .layout_layout2 li:hover>a,
            #header .layout_layout2 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout2 li>a:hover {
                color: #fc4444;
            }

            /*------------------------------------------------------*/



            .layout_layout3 .rb_menus_li:hover>a,
            #header .layout_layout3 .rb_menus_li:hover>a {
                color: #ffffff;
            }

            .layout_layout3 .rb_has_sub.rb_menus_li:hover .arrow::before {
                border-color: #ffffff;
            }

            .layout_layout3 .rb_menus_li:hover>a,
            #header .layout_layout3 .rb_menus_li:hover>a {
                background-color: #000000;
            }

            .layout_layout3 li:hover>a,
            .layout_layout3 li>a:hover,
            #header .layout_layout3 li:hover>a,
            #header .layout_layout3 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout3 li>a:hover,
            .layout_layout3 .has-sub .rb_categories li>a:hover,
            #header .layout_layout3 .has-sub .rb_categories li>a:hover {
                color: #fc4444;
            }



            /*------------------------------------------------------*/


            .layout_layout4 .rb_menus_li:hover>a,
            #header .layout_layout4 .rb_menus_li:hover>a {
                color: #ffffff;
            }

            .layout_layout4 .rb_has_sub.rb_menus_li:hover .arrow::before {
                border-color: #ffffff;
            }

            .layout_layout4 .rb_menus_li:hover>a,
            #header .layout_layout4 .rb_menus_li:hover>a {
                background-color: #ec4249;
            }

            .layout_layout4 li:hover>a,
            .layout_layout4 li>a:hover,
            #header .layout_layout4 li:hover>a,
            #header .layout_layout4 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout4 li>a:hover {
                color: #ec4249;
            }


            /*------------------------------------------------------*/


            .layout_layout5 .rb_menus_li:hover>a,
            #header .layout_layout5 .rb_menus_li:hover>a {
                color: #ec4249;
            }

            .layout_layout5 .rb_has_sub.rb_menus_li:hover .arrow::before {
                border-color: #ec4249;
            }



            .layout_layout5 li:hover>a,
            .layout_layout5 li>a:hover,
            #header .layout_layout5 li:hover>a,
            #header .layout_layout5 .rb_columns_ul .rb_block_type_product .product-title>a:hover,
            #header .layout_layout5 li>a:hover {
                color: #ec4249;
            }

            /*------------------------------------------------------*/

        }
        @media only screen and  (min-width: 1200px) {
            .header-v5 .search-widget .resuilt-search .rb-resuilt {
                left: calc(300px - 100%);
                box-shadow: 2px 21px 100px -43px;
                overflow-y: auto;
            }
            .w-20 {
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 20% !important;
                        flex: 0 0 20% !important;
                max-width: 20%;
            }
        }

        @media only screen and (max-width: 500px){
            #blockcart-modal .cart-content-btn{
                flex-direction: column;
                gap: 10px;
            }
            .h-sm-200 {
                height: 200px;
            }
        }

        
        .quickview .modal-content{
            border: none;height: 780px;overflow-y: auto;overflow-x: hidden;
        }

        .text-height-0 {
            line-height: 1!important;
          }
        .text-height-1 {
          line-height: 1.5!important;
        }
        .text-height-2 {
          line-height: 2!important;
        }
        .text-height-3 {
          line-height: 2.5!important;
        }
        .text-height-4 {
          line-height: 3!important;
        }
        .text-height-5 {
          line-height: 3.5!important;
        }


        .custom {
            margin-bottom: 16px;
          }
          .custom.checkbox > label,
          .custom.radio > label {
            position: relative;
            cursor: pointer;
            padding-left: 32px;
          }
          .custom input[type="checkbox"],
          .custom input[type="radio"] {
            position: relative;
            margin-left: -26px;
            margin-right: 12px;
            cursor: pointer;
          }
          .custom input[type="checkbox"]:after,
          .custom input[type="radio"]:after {
            content: "";
            position: absolute;
            top: -5px;
            left: -4px;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 2px solid #ddd;
            cursor: pointer;
          }
          .custom input[type="checkbox"]:before {
            transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            transform: rotate(-45deg) scale(0, 0);
            content: "";
            position: absolute;
            left: -1px;
            z-index: 1;
            width: 13px;
            height: 7.5px;
            border: 2px solid #22b58f;
            border-top-style: none;
            border-right-style: none;
          }
          .custom input[type="checkbox"]:checked:before {
            transform: rotate(-45deg) scale(1, 1);
          }
          .custom input[type="checkbox"]:after {
            border-radius: 2px;
          }
          .custom input[type="radio"] {
            top: -2px;
          }
          .custom input[type="radio"]:before {
            transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            transform: scale(0, 0);
            content: "";
            position: absolute;
            top: 1px;
            left: 0;
            z-index: 1;
            width: 12px;
            height: 12px;
            background: #22b58f;
            border-radius: 50%;
          }
          .custom input[type="radio"]:checked:before {
            transform: scale(1, 1);
          }
          .custom input[type="radio"]:after {
            border-radius: 50%;
            top: -3px;
          }
          